






<!--<mat-dialog-actions>
  <button mat-raised-button color="primary"  [routerLink]="['/edit', book.Id]" (click)="openDialog()">Edit</button>
</mat-dialog-actions>-->


<div class="container">
  <h1 class="my-4">Book List</h1>
  <!--<a routerLink="/create" class="btn btn-primary mb-3">Create Book</a>-->

  <mat-progress-spinner mode="indeterminate" diameter="32" *ngIf="isLoading"></mat-progress-spinner>

  <mat-table class="mat-elevation-z8" [dataSource]="books" *ngIf="!isLoading">
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
      <mat-cell *matCellDef="let book">{{ book.Title }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="author">
      <mat-header-cell *matHeaderCellDef>Author</mat-header-cell>
      <mat-cell *matCellDef="let book">{{ book.Author }}</mat-cell>
    </ng-container>

    <!--<ng-container matColumnDef="actions">
  <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
  <mat-cell *matCellDef="let book">-->
    <!--<a routerLink="/details/{{ book.id }}" mat-flat-button color="primary">Details</a>
  <a routerLink="/edit/{{ book.id }}" mat-flat-button color="accent">Edit</a>-->
    <!--<button mat-raised-button color="primary" [routerLink]="['/edit', book.Id]">
    <mat-icon>edit</mat-icon>Edit
  </button>-->
    <!--<button mat-raised-button color="primary" [routerLink]="['/edit', book.Id]">Edit</button>-->
    <!--<button mat-raised-button color="warn" (click)="deleteBook(book.Id)">Delete</button>-->
    <!--<button mat-raised-button color="warn" [routerLink]="['/delete', book.Id]">Delete</button>

    </mat-cell>
  </ng-container>-->
    <!--<ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
    <mat-cell *matCellDef="let book">
      <mat-dialog-actions>-->
    <!--<button mat-raised-button color="primary" [routerLink]="['/edit', book.Id]" (click)="openDialog()">Edit</button>-->
    <!--<button mat-raised-button color="primary" [routerLink]="['/edit', book.Id]">Edit</button>
  </mat-dialog-actions>-->
    <!-- The rest of your existing code for editing and deleting buttons -->
    <!--<button mat-raised-button color="primary" [routerLink]="['/edit', book.Id]">Edit</button>-->
    <!--<button mat-raised-button color="warn" [routerLink]="['/delete', book.Id]">Delete</button>
    </mat-cell>
  </ng-container>-->







    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
      <mat-cell *matCellDef="let book">
        <button mat-raised-button color="primary" [routerLink]="['/edit', book.Id]" (click)="openDialog()">Edit</button>
        <button mat-raised-button color="warn" [routerLink]="['/delete', book.Id]">Delete</button>
      </mat-cell>
    </ng-container>










    <mat-header-row *matHeaderRowDef="['title', 'author', 'actions']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['title', 'author', 'actions'];"></mat-row>
  </mat-table>

  <mat-paginator [length]="100"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 aria-label="Select page">
  </mat-paginator>
</div>
